---
import Layout from "../layouts/Layout.astro";
import Spotify from "../components/Spotify.astro";
---

<Layout title="Impresión 3D">
  <div class="bg-white pt-32 pl-2 pr-2">
    <Spotify />
  </div>
</Layout>
