<div
  class="flex items-center flex-wrap lg:justify-start gap-x-6"
>
  <a
    href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2BT8N0GkxL0xPnzOnsWTsO75WsudYhgt1cVilc3PLlDTBmDpsh02L6dnFGvvE7VlT8XHRyQ3Yz?gv=true"
    target="_blank"
    class="rounded-full bg-blue-600 px-5 py-3  mt-6 text-lg font-medium text-white  tracking-wide transition hover:bg-blue-700"
  >
    Solicitar una Consulta <i class="las la-external-link-alt"></i></a
  >
  <!-- <a
href="mailto:giuseppesierra8@gmail.com"
target="_blank"
class="mt-6 inline-block w-full rounded-md border border-transparent px-8 py-3 font-medium text-black hover:bg-cyan-300 sm:w-auto"
>Contactar por Correo Electronico</a
> -->
</div>
