---
import RotatingHeadline from "./RotatingHeadLine.astro";
---

<div class="bg-white">
  <div class="relative isolate px-6 pt-0 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div class="mx-auto max-w-5xl py-32 sm:py-24 lg:py-56">
      <div class="text-left">
        <h1 class="hidden">Giuseppe Sierra</h1>
        <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
          Calma, Une y Fortaleze tu cuerpo con el Doctor Sierra
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-900">
          Doctor, Cirujano, Tramatologo y Ortopedista con m치s de 30 a침os
          experiencia - <i class=" text-gray-500">
            Quiero mejorar la calidad de vida de musculos y huesos de todo el
            mundo gracias a los avances en Medicina e Impresi칩n 3D.
          </i>
          <!-- <br /><br />

          游냒 Venezuela 游늸 Galicia, Espa침a. -->
        </p>
        <div
          class="flex items-center flex-wrap lg:justify-start justify-center gap-x-6"
        >
          <a
            href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2BT8N0GkxL0xPnzOnsWTsO75WsudYhgt1cVilc3PLlDTBmDpsh02L6dnFGvvE7VlT8XHRyQ3Yz?gv=true"
            target="_blank"
            class="mt-6 inline-block w-full rounded-md border border-transparent bg-cyan-400 px-8 py-3 font-bold text-2xl text-gray-900 hover:bg-cyan-600 sm:w-auto"
          >
            Reserva tu Consulta <i class="las la-long-arrow-alt-right"></i></a
          >
          <!-- <a
            href="mailto:giuseppesierra8@gmail.com"
            target="_blank"
            class="mt-6 inline-block w-full rounded-md border border-transparent px-8 py-3 font-medium text-black hover:bg-cyan-300 sm:w-auto"
            >Contactar por Correo Electronico</a
          > -->
        </div>
        <div>
          <ul class="p-6">
            <li class="list-item list-disc list-inside text-lg py-2">
              Seguimiento Activo y Profesional de tu Tratamiento y
              Rehabilitaci칩n
            </li>
            <li class="list-item list-disc list-inside text-lg py-2">
              Coaching de Salud - Plan Nutricional, Mental y F칤sico
            </li>
            <li class="list-item list-disc list-inside text-lg py-2">
              Impresion 3D de Protesis y F칠rulas personalizadas para ti.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</div>
