---
import RotatingHeadline from "./RotatingHeadLine.astro";
---

<div class="bg-white">
  <div class="relative isolate px-6 pt-0 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
    <div
      class="max-w-6x1
       m-auto py-16 sm:py-24 lg:py-32 flex flex-row flex-wrap justify-around items-center"
    >
      <div class="text-left relative  max-w-lg">
        <h1 class="hidden">Giuseppe Sierra</h1>
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
        >
          Doctor Giuseppe Sierra corta tus problemas de raiz
        </h2>
        <p class="mt-6 text-2xl sm:text-3xl  leading-8 text-gray-900">
          Médico, Cirujano Tramatologo y Ortopedista con más de 30 años de
          experiencia profesional.
          <!-- <br /><br />

          🐣 Venezuela 📍 Galicia, España. -->
        </p>
        <p class="text-lg pt-4">
          <i class="text-gray-500 text-md">
            <!-- Quiero ayudar a mejorar la calidad de vida de todas las personas
            gracias a los avances en Medicina e Impresión 3D. -->
          </i>
        </p>
        <div
          class="flex items-center flex-wrap lg:justify-start justify-center gap-x-6"
        >
          <a
            href="https://calendar.google.com/calendar/appointments/schedules/AcZssZ2BT8N0GkxL0xPnzOnsWTsO75WsudYhgt1cVilc3PLlDTBmDpsh02L6dnFGvvE7VlT8XHRyQ3Yz?gv=true"
            target="_blank"
            class="mt-6 inline-block w-full rounded-md border border-transparent bg-cyan-400 px-8 py-3 font-bold text-2xl text-gray-900 hover:bg-cyan-600 sm:w-auto"
          >
            Reserva tu Consulta <i class="las la-long-arrow-alt-right"></i></a
          >
          <!-- <a
            href="mailto:giuseppesierra8@gmail.com"
            target="_blank"
            class="mt-6 inline-block w-full rounded-md border border-transparent px-8 py-3 font-medium text-black hover:bg-cyan-300 sm:w-auto"
            >Contactar por Correo Electronico</a
          > -->
        </div>
        <div>
          <ul class="py-8">
            <li class="text-lg py-2 pr-10">
              ⚕️ Asesoria Profesional de tu Tratamiento y Rehabilitación
            </li>
            <li class="text-lg py-2 pr-10">
              🎯 Coaching de Salud - Plan Nutricional, Mental y Físico
            </li>
            <li class="text-lg py-2 pr-10">
              👽 Impresion 3D de Protesis y Férulas personalizadas.
            </li>
            
          </ul>
        </div>
      </div>

      <div class="-z-40 opacity-90 right-0 max-w-sm">
        <img
          class="border-x-2 border-y-2 rounded-xl shadow-xl"
          src="/gpsierra/images/imagen4.jpg"
          alt=""
          style="aspect-ratio: 1/1;"
        />
      </div>
    </div>

    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</div>
