---
interface Props {
  title: string;
  description: string;
  date: string;
  tags: string;
  body: string;
}


const { title, description, date, tags, body }: Props = Astro.props;


// Convertir la cadena de tags en un array
const tagsArray = tags.split(",").map((tag) => tag.trim());
---

<button id="toggleButton">
  <article class="flex max-w-xl flex-col items-start justify-between">
    <header>
      <div class="group relative">
        <h3
          class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600"
        >
          <h3>
            <span class="absolute inset-0"></span>
            {title}
          </h3>
        </h3>
        <time datetime="2020-03-16" class="text-gray-500">{date}</time>

        <div class="flex flex-wrap items-center gap-x-4 text-xs">
          {
            tagsArray.map((tag) => (
              <a
                href="#"
                class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"
              >
                {tag}
              </a>
            ))
          }
        </div>
        <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
          {description}
        </p>
      </div>
    </header>
    <div id="hiddenDiv" style="display: none;">
    
    </div>
  </article>
</button>
