<section
  class="max-w-7x1 m-auto flex flex-wrap-reverse justify-evenly p-8"
  style="width: 100%; "
>
  <div class="max-w-lg rounded-xl overflow-hidden shadow-xl" style="width: 100%;">
    <iframe
      width="512"
      height="315"
      src="https://www.youtube-nocookie.com/embed/aOwIZAQm2AA?si=jIbhd_I6ywVtIa8G"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
  <article class="py-8 px-1 max-w-lg" style="width: 100%;">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900">
      Problema / Solución
    </h2>
    <p class="mt-6 text-2xl leading-8">Principal dolencia ... blabla</p>
    <p class="py-4">Ejemplos ... blabla</p>
    <p>Solución ... blabla</p>
  </article>
</section>
