---
import SpotifyCard from "./SpotifyCard.astro";
---

<section class="max-w-6xl m-auto">
  <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
    Giuseppe Podcast
  </h2>

  <div class="miduthx pt-2 pb-2">
    <SpotifyCard title="Impr. 3D" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Antropologia" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Medicina" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Psicologia" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Ciclismo" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Agricultura" description="asdasdasdsdasd" icon="las la-box" />
    <SpotifyCard title="Ganaderia" description="asdasdasdsdasd" icon="las la-box" />
 
  </div>

  <div class="episodes">
    <button
      class="episode"
      data-spotify-id="spotify:episode:7makk4oTQel546B0PZlDM5"
    >
      My Path to Spotify: Women in Engineering
    </button>
    <button
      class="episode"
      data-spotify-id="spotify:episode:43cbJh4ccRD7lzM2730YK3"
    >
      What is Backstage?
    </button>
    <button
      class="episode"
      data-spotify-id="spotify:episode:6I3ZzCxRhRkNqnQNo8AZPV"
    >
      Introducing Nerd Out@Spotify
    </button>
  </div>
  <div id="embed-iframe"></div>
</section>
<script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
<script type="text/javascript">
  window.onSpotifyIframeApiReady = (IFrameAPI) => {
    const element = document.getElementById("embed-iframe");
    const options = {
      width: "100%",
      height: "512",
      uri: "spotify:episode:7makk4oTQel546B0PZlDM5",
    };
    const callback = (EmbedController) => {
      document.querySelectorAll(".episode").forEach((episode) => {
        episode.addEventListener("click", () => {
          EmbedController.loadUri(episode.dataset.spotifyId);
        });
      });
    };
    IFrameAPI.createController(element, options, callback);
  };
</script>
<style>
  .episodes {
    display: flex;
    flex-direction: column;
  }

  .episode {
    min-width: max-content;
    margin-bottom: 0.8rem;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    border: 0;
    background: #191414;
    color: #fff;
    cursor: pointer;
  }

  .episode:hover {
    background: #1db954;
  }

  .miduthx {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
  }
</style>
